anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
conda==4.8.3
conda-build==3.18.9
conda-package-handling==1.6.0
Django==3.0.8
django-allauth==0.42.0
django-cors-headers==3.4.0
django-leaflet==0.27.0
django-phonenumber-field==4.0.0
django-rest-auth==0.9.5
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
GDAL==2.3.3
leaflet==0.0.3
phonenumbers==8.12.6
psycopg2==2.8.5
python3-openid==3.2.0
virtualenv==20.0.26
virtualenv-clone==0.5.4

